@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@model Estelav.Pages.Cart.ShoppingCartModel

@inject IViewLocalizer ViewLocalizer


<div class="layout-main layout-main_cart">
    <section class="cart-page">
        <div class="cart-page-title-pane">

            @if (Model._shopCartItems.Count == 0)
            {
                <section class="cart-page cart-page_empty">
                    <div class="cart-page-title-pane">
                        <h1 class="cart-page__title">@ViewLocalizer["Empty"]</h1>
                    </div>
                    <div class="cart-page-pane">
                        <a class="cart-page__back" asp-page="/Index">@ViewLocalizer["Main"]</a>
                    </div>
                </section>

            }
        </div>


        @if (Model._shopCartItems != null && Model._shopCartItems.Count > 0)
        {



            <h1 class="cart-page__title">@ViewLocalizer["Cart"]</h1>

            <div>
                <div class="cart-page-table">
                    <div class="cart-page-table__head">
                        <div class="cart-page-table-td cart-page-table-td_pic">&nbsp;</div>
                        <div class="cart-page-table-td cart-page-table-td_name">@ViewLocalizer["Name"]</div>
                        <div class="cart-page-table-td cart-page-table-td_size">@ViewLocalizer["Size"]</div>
                        <div class="cart-page-table-td cart-page-table-td_price">@ViewLocalizer["Price"]</div>
                        <div class="cart-page-table-td cart-page-table-td_num">@ViewLocalizer["Amount"]</div>
                        <div class="cart-page-table-td cart-page-table-td_cost">@ViewLocalizer["Total"]</div>
                        <div class="cart-page-table-td cart-page-table-td_del">@ViewLocalizer["Remove"]</div>
                    </div>


                    @foreach (var item in Model._shopCartItems)
                    {
                        <div class="cart-page-table-tr">


                            <div class="cart-page-table-td cart-page-table-td_pic">
                                <a class="cart-page__pic" asp-page="/Item" asp-route-id="@item.ItemNavigation.ItemId" style="background-image: url('@item.ItemNavigation.ImageUrl')"></a>
                            </div>

                            <div class="cart-page-table-td-mobcol">
                                <div class="cart-page-table-td cart-page-table-td_name">
                                    <div class="cart-page__descr">
                                        <a class="cart-page__descr-name" target="_blank" asp-page="/Item" asp-route-id="@item.ItemNavigation.ItemId">@item.ItemNavigation.Name</a>
                                        <div class="cart-page__descr-mobprice">@item.ItemNavigation.Price CZK</div>

                                    </div>
                                </div>
                                <div class="cart-page-table-td cart-page-table-td_size">

                                </div>
                                <div class="cart-page-table-td cart-page-table-td_price">@item.ItemNavigation.Price CZK</div>
                                <div class="cart-page-table-td-mobrow">
                                    <div class="cart-page-table-td cart-page-table-td_num">

                                        @Html.Raw(item.Amount)
                                    </div>

                                    <div class="cart-page-table-td cart-page-table-td_cost"><span data-cart-cost="">@(item.ItemNavigation.Price * item.Amount)</span> CZK</div>
                                    <div class="cart-page-table-td cart-page-table-td_del">
                                        <a class="cart-page__del" asp-page-handler="Remove" asp-route-id="@item.ItemNavigation.ItemId"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                    <div class="cart-page-total">
                        <span class="cart-page-total__title">
                            Total
                        </span>

                        <span class="cart-page-total__cost">@Model._shoppingCartSum</span>
                        <span class="cart-page-total__cost-currency">CZK</span>
                    </div>

                    <div class="cart-page-pane">
                        <form method="post">
                            <input style="display: none;" name="shoppingCartId" value="@Model.Id" />
                            <input style="display: none;" name="shoppingCartSum" value="@Model._shoppingCartSum" />
                            <button class="button cart-page-button" type="submit">@ViewLocalizer["Checkout"]</button>
                        </form>
                        <a class="cart-page__back" asp-page="/Index">@ViewLocalizer["Continue"]</a>
                    </div>

                </div>
            </div>
        }
    </section>
</div>

