@page
@model Estelav.Pages.Account.ProfileModel
@{
}

<div class="layout-main">
    <div class="title-content-group">
        <br />
        <h1 class="title_third title-content profile-title">Profile</h1>
        <div class="title-content-second"></div>
    </div>
</div>

<div class="profile">
    <div class="profile__layout">
        <div id="parentVerticalTab" class="resp-vtabs hor_1" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list hor_1" style="margin-top: 3px;">
                <li class="title_fifth resp-tab-item hor_1 resp-tab-active"  style="background-color: white; border-color: rgb(193, 193, 193);">
                    <span id="infoTab" onclick="ShowInfo()">Info</span>
                </li>
                <li class="title_fifth resp-tab-item hor_1"  style="background-color: rgb(245, 245, 245); border-color: rgb(193, 193, 193);">
                    <span id="orderTab" onclick="ShowOrders()">My Orders</span>
                </li>
            </ul>


            <div class="resp-tabs-container hor_1" style="border-color: rgb(193, 193, 193);">
                <h2 class="resp-accordion hor_1 resp-tab-active" role="tab" aria-controls="hor_1_tab_item-0" data-url-hash="#personal-info" style="background-color: white; border-color: rgb(193, 193, 193);">
                    <span class="resp-arrow"></span>
                    <span>Info</span>
                </h2>
                <div class="profile__personal-info resp-tab-content hor_1 resp-tab-content-active" id="personal-info" aria-labelledby="hor_1_tab_item-0" style="display:block">

                    <div class="layout-form-column" id="form-profile" >
                        <fieldset class="profile__fieldset">
                            <div class="title title_fourth profile__form-title">Personal Info</div>
                            <div class="profile__form-vert">

                                <div class="profile__form-row">
                                    <label for="input_name">Name</label>
                                    <input class="input" type="text" id="input_name" name="settings-form[name]" value="@Model.curUser.Name" readonly="readonly" ">
                                </div>

                                <div class="profile__form-row">
                                    <label for="oldemail">EMAIL</label>
                                    <input class="input" type="email" id="oldemail" placeholder="E-mail" name="settings-form[email]" value="@Model.curUser.EmailAddress" readonly="readonly">
                                </div>

                                <div class="profile__form-row">
                                    <label for="input_name">Phone Number</label>
                                    <input class="input" type="text" id="input_phone" name="settings-form[name]" value="@Model.curUser.PhoneNumber" readonly="readonly">
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="layout-form-column" id="form-orders" style="display: none;">
                        @foreach (var order in Model.AllOrders)
                        {

                            <span style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">Order #@order.OrderId</span>

                            <table style="width: 100%;">
                                <tr>
                                    <th>Item</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                                @foreach (var item in order.OrderedItems)
                                {
                                    <tr>

                                        <td><a asp-page="/Item" asp-route-id="@item.ItemId"><img src="@item.ImageUrl" width="100" height="100" alt=""></a></td>
                                        <td>@item.Name</td>
                                        <td>@item.Price CZK</td>
                                        <td>@item.Amount</td>
                                    </tr>
                                }
                            </table>

                            <span style="width: 100%; font-weight: bold;">Deliver To:</span>
                             <span  style="width: 100%; margin-bottom: 15px;">@order.Address</span>
                            <br/>

                            <span><b>Total:</b> @order.Total CZK</span>

                            <hr style="width: 100%;"/>
                        }
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowInfo() {
        $('#form-profile').show();
        $('#form-orders').hide();

        $('#infoTab').css('border-bottom', '2px solid #000');

        $('#orderTab').css('border-bottom', 'none');

    }


    function ShowOrders() {
        $('#form-profile').hide();
        $('#form-orders').show();

        $('#orderTab').css('border-bottom', '2px solid #000');

        $('#infoTab').css('border-bottom', 'none');
    }

</script>