@page
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@model IndexModel
@{ ViewData["Title"] = "Estelav Shop"; }


@inject IViewLocalizer ViewLocalizer



<div class="main-image-cont1" style="">
    <img src="~/img/top.png" style="width: 100%; margin-bottom: 20px;" />

    <div class="center-txt">
        <h1>@ViewLocalizer["Main Page Title"]</h1>
    </div>

    <div class="center-button">

        <a class="main-button" asp-page="/Items" asp-route-id="6">
            @ViewLocalizer["Main Page Button"]
        </a>
    </div>

</div>


<div class="index" itemscope itemprop="mainContentOfPage">
    <div class="layout">

        <div class="layout-main">
            <div class="index__row">
                <div class="index__col">
                    <picture>
                        <img src="~/img/main-bag.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Bags"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="1">
                        @ViewLocalizer["View"]
                    </a>
                </div>

                <div class="index__col">
                    <picture>
                        <img src="~/img/main-shoes.png" alt="2">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Shoes"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="2">
                        @ViewLocalizer["View"]
                    </a>
                </div>


                <div class="index__col">
                    <picture>
                        <img src="~/img/main-swim.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Swimsuits"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="3">
                        @ViewLocalizer["View"]
                    </a>
                </div>
            </div>

            <div class="index__row-second">
                <div class="index__col">
                    <picture>
                        <img src="~/img/main-dress1.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Dresses"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec center-txt-view-dress" asp-page="/Items" asp-route-id="4">
                        @ViewLocalizer["View"]
                    </a>

                </div>

                <div class="index__col">
                    <picture>
                        <img src="~/img/main-dress2.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Tops"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec center-txt-view-dress" asp-page="/Items" asp-route-id="9">
                        @ViewLocalizer["View"]
                    </a>
                </div>
            </div>

            <div class="index__row">
                <div class="index__col">
                    <picture>
                        <img src="~/img/accessories.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title center-txt-acc">
                        @ViewLocalizer["Accessories"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="8">
                        @ViewLocalizer["View"]
                    </a>
                </div>

                <div class="index__col">
                    <picture>
                        <img src="~/img/trousers.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Trousers"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="10">
                        @ViewLocalizer["View"]
                    </a>
                </div>

                <div class="index__col">
                    <picture>
                        <img src="~/img/blouses.png" alt="">
                    </picture>

                    <div class="center-txt-desc main-slide-title">
                        @ViewLocalizer["Blouses"]
                    </div>

                    <a class="center-txt-view center-txt-view-dec" asp-page="/Items" asp-route-id="11">
                        @ViewLocalizer["View"]
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="horisontal-ecards-slider index__recommend">
        <div class="horisontal-ecards-slider__header">
            <h2 class="horisontal-ecards-slider__title"><span>@ViewLocalizer["We Reccommend"]</span></h2>
            <div class="horisontal-ecards-slider__sub-title"></div>
        </div>

    </div>

    <div class="catalog__products-list layout-main">
        <div class="catalog__product-list-row" id="catalog__pruduct-list">

            @foreach (var item in Model._recItems)
            {

                <div class="e-card-2">
                    <a class="e-card-2__layout-inside" asp-page="/Item" asp-route-id="@item.ItemId">
                        <div class="e-card-2__layout-slider">
                            <div class="e-card-2__layout-slider">
                                <div class="e-card-2__pic e-card-2__pic_load e-card-2__pic_first">
                                    <img src="@item.ImageUrl" />
                                </div>
                            </div>
                        </div>

                        <span class="e-card-2__title">@item.Name</span>
                    </a>
                    <span class="e-card-2__price">@item.Price$</span>
                    <br />
                    <button class="addToCartBtn">@ViewLocalizer["Add To Cart"]</button>
                </div>
            }

        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            $('#shopNowButton').click(function (e) {
                e.preventDefault();

                $('html, body').animate({
                    scrollTop: $('#main-cards').offset().top
                }, 500);
            });
        });

    </script>
