@page
@model Estelav.Pages.ItemModel
@{
}

<main>
    <div class="layout-main">
        <div class="item-page">
            <div class="item-page__main-row">
                <div class="item-page__col_photo" id="item-page__photo-type-switching-row">
                    <div class="item-page__photo-preview">
                        <div class="item-page__photo-preview-layout">
                            <div class="bx-wrapper" style="max-width: 100%;">
                                <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 470px;">
                                    <div class="item-page__photo-prevew-list" id="itempage__photo-preview-list" style="width: auto; position: relative;">




                                        @foreach (var item in Model._desItems)
                                        {
                                            <a href="" data-slide-index="2" aria-hidden="true" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;" class="bx-clone">
                                                <img src="@item.ImageUrl">
                                            </a>
                                        }


                                    </div>
                                </div>
                                <div class="bx-controls bx-has-controls-direction">
                                    <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div>
                                </div>
                            </div>
                        </div>
                        <ul class="item-page__photo-preview-switch" id="item-page__photo-preview-switch">
                            <li class="item-page__photo-preview_1col active"></li>
                            <li class="item-page__photo-preview_2col"></li>
                        </ul>
                    </div>
                    <div class="item-page__photo-big">
                        <div class="bx-wrapper" style="max-width: 100%">
                            <ul id="item-page-big-photo-gallery">
                                <li><img src="@Model.foundItem.ImageUrl" width="310" height="510"></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item-page__col_title">
                    <a class="item-page__link-next"> </a>
                    <h1 class="title title_fifth" itemprop="name">@Model.foundItem.Name</h1>
                    <meta itemprop="brand" >

                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span class="e-card-2__price">
                            <span itemprop="price" content="@Model.foundItem.Price">
                                @Model.foundItem.Price
                                <span itemprop="priceCurrency" content="USD"> $</span>
                            </span>
                        </span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                </div>
                <div class="item-page__col_cart-button">
                    <div class="item-page__go-to-desc">
                        <span id="go-to-desc">Size</span><br />
                    </div>
                    <div class="item-page__sizes">
                        <span class="button button-size " data-cart-size-check="31">XXS</span>
                        <span class="button button-size button-size_none">XS</span>
                        <span class="button button-size button-size_none">S</span>
                        <span class="button button-size button-size_none">M</span>
                        <span class="button button-size button-size_none">L</span>
                        <span class="button button-size button-size_none">XL</span>
                    </div>

                    <div>
                        @Html.Raw(Model.foundItem.Description)
                    </div>

                    <div class="item-page__wrong-message" data-cart-size-wrong>Please, choose a size!</div>
                    <div class="item-page__non-in-stock"></div>

                    <a onclick="AddToCart(@(@Model.foundItem.ItemId))">
                        <div class="button item-page__button-cart">Add to Cart</div>
                    </a>

 
                </div>
            </div>
        </div>


     

        <div class="catalog__products-list layout-main">
            <div class="catalog__product-list-row" id="catalog__pruduct-list">

                @foreach (var item in Model._recItems)
                {

                    <div class="e-card-2">
                        <a class="e-card-2__layout-inside" asp-page="/Item" asp-route-id="@item.ItemId">
                            <div class="e-card-2__layout-slider">
                                <div class="e-card-2__layout-slider">
                                    <div class="e-card-2__pic e-card-2__pic_load e-card-2__pic_first">
                                        <img src="@item.ImageUrl" />
                                    </div>
                                </div>
                            </div>

                            <span class="e-card-2__title">@item.Name</span>
                        </a>
                        <span class="e-card-2__price">@item.Price$</span>
                        <br />
                        <button class="addToCartBtn">Add to Cart</button>
                    </div>
                }

            </div>
        </div>


    </div>
</main>

<script>

    
    function AddToCart(itemId) {
        $.ajax({
            type: "GET",
            url: "/Cart/Add",
            data: { id : itemId },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("ok");
            }
            
        });
    }



</script>