@page
@model Estelav.Pages.ItemsModel
@{ ViewData["Title"] = "Items";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }




<div class="layout layout-main" style="min-height: 100vh;">

    <main class="layout-main layout-cont" itemscope itemprop="mainContentOfPage">

        <div class="title-plus title-plus_transform-for-mobile">
            <h1 class="title" style="font-size: 40px; color: #000">@Model._categoryName</h1>
            <p class="title-plus__text" style="color: #000">@Model._categoryDescription</p>
        </div>
    </main>

    <hr style="width: 100%; " />
    <div class="catalog">
        <div class="layout-main">
            <div class="catalog__action-panel-col_2">
                <span class="catalog__action-products-amount">@Model._itemsCount Items</span>
                <div class="catalog__action-panel-sort">
                    <div class="catalog__sort-form" id="catalog__sort-form">

                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__products-list layout-main">
            <div class="catalog__product-list-row" id="catalog__pruduct-list">

                @foreach (var item in Model.items)
                {
                    <div class="e-card-2">
                        <a class="e-card-2__layout-inside" asp-page="/Item" asp-route-id="@item.ItemId">
                            <div class="e-card-2__layout-slider">
                                <div class="e-card-2__layout-slider">
                                    <div class="e-card-2__pic e-card-2__pic_load e-card-2__pic_first">
                                        <img src="@item.ImageUrl" />
                                    </div>
                                </div>
                            </div>

                            @if (Model._itemName != null)
                            {
                                <span class="e-card-2__title">@Model._itemName</span>
                            }
                            else
                            {
                                <span class="e-card-2__title">@item.Name</span>
                            }
                        </a>
                        <span class="e-card-2__price">@item.Price CZK</span>
                        <br />

                        @if (item.InStock == false)
                        {
                            var itemId = item.ItemId;

                            <button class="addToCartBtn" style="background: gray;">Not in Stock</button>
                        }
                        else
                        {
                            var item11 = 0;

                            <a asp-page="/Item" asp-route-id="@item.ItemId">
                                <button class="addToCartBtn">Add to Cart</button>
                            </a>
                        }

                    </div>
                }
            </div>
        </div>


    </div>
</div>
