@page
@model Estelav.Pages.ItemModel
@{
}

<main>
    <div class="layout-main">
        <div class="item-page">
            <div class="item-page__main-row">
                <div class="item-page__col_photo" id="item-page__photo-type-switching-row">
                    <div class="item-page__photo-preview">
                        <div class="item-page__photo-preview-layout">
                            <div class="bx-wrapper" style="max-width: 100%;">
                                <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 470px;">
                                    <div class="item-page__photo-prevew-list" id="itempage__photo-preview-list" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -480px, 0px);">
                                    <a href="" data-slide-index="2" aria-hidden="true" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;" class="bx-clone">
                                        <img src="~/img/merch/main-bag.png" >
                                        </a>
                                    <a href="" data-slide-index="3" aria-hidden="true" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;" class="bx-clone">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>
                                    <a href="" data-slide-index="4" aria-hidden="true" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;" class="bx-clone active">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>
                                    <a href="" data-slide-index="0" class="" aria-hidden="false" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>
                                    <a href="" data-slide-index="1" aria-hidden="false" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;" class="">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>
                                    <a href="" data-slide-index="2" aria-hidden="false" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>
                                    <a href="" data-slide-index="3" aria-hidden="true" style="float: none; list-style: none; position: relative; width: 90px; margin-bottom: 10px;">
                                        <img src="~/img/merch/main-bag.png">
                                    </a>

                                    </div>
                                </div>
                                <div class="bx-controls bx-has-controls-direction">
                                    <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div>
                                </div>
                            </div>
                        </div>
                        <ul class="item-page__photo-preview-switch" id="item-page__photo-preview-switch">
                            <li class="item-page__photo-preview_1col active"></li>
                            <li class="item-page__photo-preview_2col"></li>
                        </ul>
                    </div>
                    <div class="item-page__photo-big">
                        <div class="bx-wrapper" style="max-width: 100%">

                            <ul id="item-page-big-photo-gallery">
                                <li><img src="@Model.foundItem.ImageUrl" width="310" height="510"></li>

                            </ul>

                        </div>


                    </div>


                </div>

                <div class="item-page__col_title">
                    <a class="item-page__link-next"> </a>
                    <h1 class="title title_fifth" itemprop="name">@Model.foundItem.Name</h1>
                    <meta itemprop="brand" >

                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span class="e-card-2__price">
                            <span itemprop="price" content="@Model.foundItem.Price">
                                @Model.foundItem.Price
                                <span itemprop="priceCurrency" content="USD"> $</span>
                            </span>
                        </span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                        @*   <span class="e-card-2__label e-card-2__label_new">New In</span>*@
                    </div>
                </div>
                <div class="item-page__col_cart-button">
                    <div class="item-page__go-to-desc">
                        <span id="go-to-desc">Size</span><br />
                    </div>
                    <div class="item-page__sizes">
                        <span class="button button-size " data-cart-size-check="31">XXS</span>
                        <span class="button button-size button-size_none">XS</span>
                        <span class="button button-size button-size_none">S</span>
                        <span class="button button-size button-size_none">M</span>
                        <span class="button button-size button-size_none">L</span>
                        <span class="button button-size button-size_none">XL</span>
                    </div>
                    <div class="item-page__wrong-message" data-cart-size-wrong>Please, choose a size!</div>
                    <div class="item-page__non-in-stock"></div>
                    @*<div class="item-page__show-size-guide" id="show-size-guide" data-active-tabs="0">Гід по розмірах</div>*@

                    <a onclick="AddToCart(@(@Model.foundItem.ItemId))">
                        @*asp-page="/Cart/Index" asp-page-handler="Add" asp-route-id="@Model.foundItem.ItemId"
                        *@
                        <div class="button item-page__button-cart">Add to Cart</div>

                    </a>

                    @*<div class="item-page__sucsses-message" data-cart-size-sucsses>Товар доданий до <a href="https://tally-weijl.com.ua/cart">кошику</a></div>*@
                    @*<div class="item-page__sucsses-message" data-cart-favorite-sucsses>Товар доданий до <a href="https://tally-weijl.com.ua/profile#favorites">обраного</a></div>*@
                    <div class="item-page__share">
                        @*<span class="icon icon_grafic icon_grafic-small" data-cart-logout-add-to-favorite>
                            <a class="icon__text">To Favourites</a>
                            <span class="icon__pic star-small item-page__favorites icon-font"></span>
                        </span>*@
                        <div class="icon icon_grafic icon_grafic-small" id="item-page-sharing-toggle">
                            @*<span class="icon__text">Поділитися</span>*@<span class="icon__pic plus"></span>
                            <ul class="social" id="sharing-panel">
                                @*<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://tally-weijl.com.ua/clothes/futbolki--topi/ukorochena-futbolka-9249" target="_blank" class="ic-fc"></a></li>
                                <li><a href="https://twitter.com/share?url=https://tally-weijl.com.ua/clothes/futbolki--topi/ukorochena-futbolka-9249&amp;text=Укорочена футболка" target="_blank" class="ic-tw"></a></li>
                                <li><a href="https://plus.google.com/share?url=https://tally-weijl.com.ua/clothes/futbolki--topi/ukorochena-futbolka-9249" target="_blank" class="ic-gp"></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


     

        <div class="catalog__products-list layout-main">
            <div class="catalog__product-list-row" id="catalog__pruduct-list">

                @foreach (var item in Model._recItems)
                {

                    <div class="e-card-2">
                        <a class="e-card-2__layout-inside" asp-page="/Item" asp-route-id="@item.ItemId">
                            <div class="e-card-2__layout-slider">
                                <div class="e-card-2__layout-slider">
                                    <div class="e-card-2__pic e-card-2__pic_load e-card-2__pic_first">
                                        <img src="@item.ImageUrl" />
                                    </div>
                                </div>
                            </div>

                            <span class="e-card-2__title">@item.Name</span>
                        </a>
                        <span class="e-card-2__price">@item.Price$</span>
                        <br />
                        <button class="addToCartBtn">Add to Cart</button>
                    </div>
                }

            </div>
        </div>


    </div>
</main>

<script>

    
    function AddToCart(itemId) {
        $.ajax({
            type: "GET",
            url: "/Cart/Add",
            data: { id : itemId },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("ok");
            }
            
        });
    }



</script>