@page
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@model Estelav.Pages.ItemModel
@{
}

@inject IViewLocalizer ViewLocalizer

<main>
    <div class="layout-main">

        <div id="content-wrapper">
            <div class="column column-responsive" style="text-align: center;">
                <img id=featured src="@Model.foundItem.ImageUrl" width="310" height="510">

                <div id="slide-wrapper">

                    <div id="slider">
                        <img class="thumbnail activeImg" src="@Model.foundItem.ImageUrl">

                        @foreach (var item in Model._desItems)
                        {
                            <img class="thumbnail" src="@item.ImageUrl">
                        }
                    </div>

                </div>
            </div>

            <div class="column" style="padding: 24px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end;">
                <div>
                    @if (Model._itemName != null)
                    {
                        <h1 class="item-title">@Model._itemName</h1>
                    }
                    else
                    {
                        <h1 class="item-title">@Model.foundItem.Name</h1>
                    }

                    <div class="item-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span>
                            <span itemprop="price" content="@Model.foundItem.Price">
                                @Model.foundItem.Price
                                <span itemprop="priceCurrency" content="CZK"> CZK</span>
                            </span>
                        </span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                </div>

                <div>
                    <div class="item-sizes" style="margin-top: 0px;">
                        @*<span>@ViewLocalizer["Size"]</span>*@
                    </div>

                    <div style="display: flex; margin-bottom: 20px;">
                        @*<span class="button button-size " data-cart-size-check="31">XXS</span>
                        <span class="button button-size button-size_none">XS</span>
                        <span class="button button-size button-size_none">S</span>
                        <span class="button button-size button-size_none">M</span>
                        <span class="button button-size button-size_none">L</span>
                        <span class="button button-size button-size_none">XL</span>*@
                    </div>


                    @if (Model.foundItem.InStock)
                    {
                        <a onclick="AddToCart(@(@Model.foundItem.ItemId))">
                            <div class="button item-page__button-cart">@ViewLocalizer["AddToCart"]</div>
                        </a>

                    }
                    else
                    {
                        <button class="button item-page__button-cart" style="background: gray;">Not in Stock</button>

                    }

                    @if (User.IsInRole("Admin"))
                    {

                        <form method="post" asp-page-handler="DeleteItem">
                            <input style="display: none;" asp-for="deleteItem.Id" value="@Model.foundItem.ItemId" />
                            <button class="button item-page__button-cart btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                                Видалити позицію
                            </button>
                        </form>
                    }

                    <br />

                    <span id="addedToCart" style="display:none;">
                        @ViewLocalizer["Added"] <a style="font-weight: bold; color: #757575;" asp-page="/Cart/Index">@ViewLocalizer["AddCart"]</a>
                    </span>

                    <div style="color: black; margin-top: 20px; max-width: 300px;">
                        <b>@ViewLocalizer["Description"]:</b><br />

                        @if (Model._itemDescription != null)
                        {
                            @Html.Raw(Model._itemDescription)
                        }
                        else
                        {
                            @Html.Raw(Model.foundItem.Description)

                        }
                    </div>

                </div>

            </div>
        </div>

    </div>



    <div class="horisontal-ecards-slider index__recommend">
        <div class="horisontal-ecards-slider__header">
            <h2 class="horisontal-ecards-slider__title"><span>BESTSELLERS</span></h2>
            <div class="horisontal-ecards-slider__sub-title"></div>
        </div>

    </div>
    <div class="catalog__products-list layout-main">
        <div class="catalog__product-list-row" id="catalog__pruduct-list">

            @foreach (var item in Model._recItems)
            {

                <div class="e-card-2">
                    <a class="e-card-2__layout-inside" asp-page="/Item" asp-route-id="@item.ItemId">
                        <div class="e-card-2__layout-slider">
                            <div class="e-card-2__layout-slider">
                                <div class="e-card-2__pic e-card-2__pic_load e-card-2__pic_first">
                                    <img src="@item.ImageUrl" />
                                </div>
                            </div>
                        </div>

                        <span class="e-card-2__title">@item.Name</span>
                        <span class="e-card-2__price">@item.Price CZK</span>
                        <br />
                        <button class="addToCartBtn">@ViewLocalizer["AddToCart"]</button>
                    </a>
                </div>
            }

        </div>
    </div>


</main>

<script type="text/javascript">
    function AddToCart(itemId) {
        $.ajax({
            type: "GET",
            url: "/Cart/Add",
            data: { id: itemId },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#addedToCart").show();
            }

        });
    }

    let thumbnails = document.getElementsByClassName('thumbnail');
    let activeImages = document.getElementsByClassName('activeImg');
    for (var i = 0; i < thumbnails.length; i++) {

        thumbnails[i].addEventListener('mouseover', function () {
            if (activeImages.length > 0) {
                activeImages[0].classList.remove('activeImg');
            }
            this.classList.add('activeImg');
            document.getElementById('featured').src = this.src;
        });
    }
</script>